## Demo test

In [1]:
def solution(A):
    Nums = set(range(1,max(max(A)+2,2)))
    return min(Nums - set(A))

## 1

In [12]:
import numpy as np

arr += 1e-20
p_i = np.sum(arr, 1)
p_j = np.sum(arr, 0)

np.sum(arr * np.log(arr)) - np.sum(p_i * np.log(p_i)) - np.sum(p_j * np.log(p_j))

-22.985633497635632

##  2

In [43]:
indices = [1,2,3,4,5,6,7,8,9,10]
K = 4

l = len(indices)
sets = [indices[i*l//K : (i+1)*l//K] for i in range(K)]

training_sets = sets
testing_sets = sets[1:] + [sets[0]]

results = [0] * (2*K)

for i in range(K):
    results[2*i] = training_sets[i]
    results[2*i+1] = testing_sets[i]

print(results)

[[1, 2], [3, 4, 5], [3, 4, 5], [6, 7], [6, 7], [8, 9, 10], [8, 9, 10], [1, 2]]

## 3

In [85]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

def __init__(self):
    self.version = 1

def analyse_and_fit_lrm(path):
    path = "exam.xlsx"
    data = pd.read_excel(path)
    model_parameters = {data.}
    price_prediction = {}

    return {'model_parameters': model_parameters,'price_prediction': price_prediction}

def __listwise_deletion(data: pd.DataFrame):
    return data.dropna()

In [153]:
path = "exam.xlsx"
data = pd.read_excel(path)
data = __listwise_deletion(data)
model_parameters = {}
price_prediction = {}

In [140]:
data.sort_values('x', ascending = False)

   x    y  price
4  5  5.0     15
3  4  3.0     11
1  2  2.0      6
0  1  5.0      7

In [175]:
idx = data[data['x'] == 3]
idx.sort_values('y', ascending = False)

   x   y  price
2  3 NaN      4

In [157]:
data['x'].quantile(q=0.8)

6.400000000000002

In [161]:
data[data['x'] > 2]

    x    y  price
3   4  3.0     11
4  10  5.0     15

In [166]:
path = "exam.xlsx"
data = pd.read_excel(path)
model_parameters = data.to_dict('list')
del model_parameters['x']

In [167]:
model_parameters

{'y': [5.0, 2.0, nan, 3.0, 5.0], 'price': [7, 6, 4, 11, 15]}

In [172]:
a['a']

1